<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall-App Settings</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>
    <div class="container mt-5">
        <div class="card myshadow">
            <h4 class="card-header text-uppercase">App Settings</h4>
            <form class="card-body">
                <div class="row my-2">
                    <div class="col-md">
                        <div class="container mt-5">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Tax in (%)</div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" minlength="1"
                                    maxlength="3" placeholder="0-100" value="<%=pageData.tsk%>" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-md">
                        <div class="d-flex">
                            <button type="submit" disabled class="btn btn-primary ml-auto">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>