<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall-New Comment</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>
    <div class="container mt-5">
      
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>