<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall-Feedback</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>
    <div class="container mt-5">
    <div class="d-flex"><h4>Feedback Pending Approval:</h4></div>
       <% pageData.fd.forEach(function(comment){ %>
        <%- `<div class="card my-2" > 
                <div class="card-header" >
                    <a href="/product?pid=${comment.productid.id}">${comment.productid.name}</a>
                </div>
                <div class="card-body" >
                    <blockquote class="blockquote">
                                <div class="flexbox small">
                                    <b>${comment.userid}</b> <cite>on ${new Date(parseInt(comment.timestamp,10)).toDateString()}</cite>
                                    <img src="/static/resources/images/stars-${comment.rating}.gif" />
                                </div>
                                <p class="mb-0 text-break small">${comment.comment}</p>
                    </blockquote>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-success">Approve</button>
                    </div>
                </div>
            </div>
            ` %>
    <% }); %>
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>