<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall-Health Links</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>

    <div class="container my-5">
        Health Links Mark 1
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>