<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall-Change Info</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>
    <div class="container mt-5">
        <div class="card myshadow ml-auto mr-auto" style="width: 18rem;">
            <div class="card-body">
                <form onsubmit="checkIfPassMatches()" action="/secure/password" method="POST">
                    <% if (pageData.changePassError.length>=1) { %>
                    <%- `<div class="alert alert alert-danger" role="alert">${pageData.changePassError[0]}</div>` %>
                    <% } %>
                    <div id="errorPane" class="alert alert alert-danger my-2" role="alert"></div>
                    <div class="form-group">
                        <label for="existingPassword">Existing Password</label>
                        <input type="password" class="form-control" id="existingPassword" name="existingPassword"
                            placeholder="Existing Password" minlength="1" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password"
                            minlength="1" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label for="verifyPassword">Verify Password</label>
                        <input type="password" class="form-control" id="verifyPassword"
                            placeholder="Verify Password" minlength="1" maxlength="50" required>
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="ml-auto btn btn-primary">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <% include ../footer %>

    <script>
         $("#errorPane").hide();
        function checkIfPassMatches() {
            if ($("#verifyPassword").val() !== $("#newPassword").val()) {
                $("#errorPane").text('New password and Verify password doesnt match.');
                $("#errorPane").focus();
                $("#errorPane").show();
                event.preventDefault();
                event.returnValue = false;
                return false;
            }
        }
    </script>
</body>

</html>