<!doctype html>
<html lang="en">

<head>
    <% include ../head %>
   
    <title>Health Mall</title>
</head>

<body>
    <!-- Main Nav -->
    <% include ../header %>

    Site Content

    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/secure/logout" >Logout</a>

    <!-- Footer -->
    <% include ../footer %>
</body>

</html>