<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall-Success</title>
</head>

<body>
    <!-- Main Nav -->
    <% include ../header %>

    <div class="container my-5">
      Invoice gets displayed here.
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>