<!doctype html>
<html lang="en">

<head>
    <% include ../head %>
    <title>Health Mall-User Management</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>
    <div class="container my-5">
        <h3>All Users:</h3>
        <div class="card myshadow my-2">
            <div class="card-body">
                <h3>
                    <small class="text-muted">Mr.</small>
                    Laukik Ragji
                </h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fas fa-mobile-alt"></i>9819569622</li>
                    <li class="list-inline-item"><i class="far fa-envelope"></i>Laukik.Ragji@gmail.com</li>
                    <li class="list-inline-item"><i class="far fa-smile"></i>Admin</li>
                </ul>
                <div class="d-flex">
                    <ul class="list-inline ml-auto mr-0">
                        <li class="list-inline-item">
                            <form>
                                <button type="button" class="btn btn-secondary">Deactivate</button>
                            </form>
                        </li>
                        <li class="list-inline-item">
                            <form>
                                <button type="button" class="btn btn-secondary">Promote to Admin</button>
                            </form>
                        </li>
                        <li class="list-inline-item">
                            <form>
                                <button type="button" class="btn btn-secondary">Reset to default password</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <% include ../footer %>

</body>

</html>