<!doctype html>
<html lang="en">

<head>
    <% include ../head %>
    <title>Health Mall-User Management</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>
    <div class="container my-5">
        <% if (pageData.ume.length>=1) { %>
        <%- `<div class="alert alert alert-danger" role="alert">${pageData.ume[0]}</div>` %>
        <% } %>
        <h3>All Users:</h3>
        
        <div id="resultContainer">

        </div>
        
        <div id="loadingSpinner" class="my-2">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span id="loadingMessage">Loading Users</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <% include ../footer %>
    <script src="../../static/resources/scripts/paginatedusers.js"></script>
</body>

</html>