<!doctype html>
<html lang="en">

<head>
    <% include ../head %>
    <title>Health Mall-User Management</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>
    <div class="container my-5">

    </div>
    <!-- Footer -->
    <% include ../footer %>

</body>

</html>