<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall-Dashboard</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>
    <div class="container mt-5">
        <div class="d-flex">
            <h4>Wishlist</h4>
        </div>
        <div class="col-md p-md-0">
            <div class="d-flex justify-content-center justify-content-md-around flex-wrap">
                <% pageData.wl.forEach(function(product){ %>
                <%- `<div class="card m-2 myshadow myproductcard">
                        <a href="/product?pid=${product.id}" >
                        <center>
                            <img class="productThumbnail" src="../static/resources/images/products/${product.image}" style="max-width:150px;max-height:170px" alt="Product Image">
                        </center>
                        </a>
                        <div class="card-body bg-light">
                       <strong>${product.name}</strong>
                            <div class="d-flex justify-content-center align-items-center my-2">
                            <h3 class="text-success">
                            &#8377;${product.offerprice}
                            <small><small class="text-muted"><del>&#8377;${product.price}</del></small></small>
                            </h3>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                            <small>Ships in ${product.meta.shippingdetail} day(s)</small>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                            <button onClick=addProductToSession(${product.id},1) class="btn btn-success my-2 mr-0" type="submit"><i class="fas fa-cart-plus"></i>
                                    Add to cart</button>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <form action="wishlist/delete" method="POST">
                                    <input type="hidden" name="id" value="${product.id}"/>
                                    <button class="btn btn-success my-2 mr-0" type="submit"><i class="fas fa-ban"></i> Remove from wishlist</button>
                                </form>
                            </div>
                        </div>
                    </div>` %>
    <% }); %>
    </div>
    </div>
    </div>
    <!-- Footer -->
    <% include ../footer %>
    <script>
        var shoppingBadge = $('#shoppingCart');

        function addProductToSession(productId, quantity) {
            $.post("/v1/cart/products", { productId: productId, quantity: quantity }).always((responseData) => {
                if (responseData !== undefined && responseData.TotalProducts !== undefined && parseInt(responseData.TotalProducts)) {
                    showSucess("Product added to your shopping cart.")
                    shoppingBadge.text(parseInt(responseData.TotalProducts));
                }
                else {
                    showFailure("Failed to add product to cart.");
                }
            });
        }
    </script>
</body>

</html>