<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>

    <!-- Site Content -->
    <div class="container my-5">
        <h3>About Us</h3>
        <p>
            <h5>Our Goal</h5>
            Health-Mall.in was founded under the belief that good health was not a luxury available only to the
            wealthy. For the years, we have made it our life's work to offer health food and nutritional supplements of
            the highest quality, at prices that are fair and affordable to all those who seek them. Our commitment is
            to provide products and services that empower people to lead healthier lives.

            All our products are dedicated for MNT (Medical Nutrition Therapy)
        </p>
        <p>
            We are the Authorised Distributors of Following Brands
            <ol>
                <li>Now Foods</li>
                <li>Jarrow Formulas</li>
                <li> Nordic Naturals</li>
                <li>Doctor’s Best</li>
                <li>Healthy Origins</li>
                <li>Deva Nutrition</li>
                <li>Source Naturals</li>
            </ol>
        </p>
        <p>
            <h5>Best overall value</h5>
            Health-Mall.in is an online store, supplying a vast selection of brand name natural products. Our complete
            line of nutritional products includes Nutraceuticals, vitamins, minerals, probiotic, standardized herbal
            concentrates, amino acids, enzymes and enteral nutrition products. Both retailers and consumers are assured
            of purity, value and potency when choosing these products. We provide you with a safe, secure and enjoyable
            shopping environment while bringing the latest health information. Health-Mall.in offer you a wide
            selection of the best vitamins and nutritional supplements The Company is active in monitoring governmental
            regulatory affairs, which affect the nutritional industry.
        </p>

        <p>
            <h5>Effortless ordering</h5>
            We make the shopping experience simple, moving you smoothly from login through checkout. And reordering is
            a breeze: update a previous order with just a few clicks, and you're done. When ordering from us, rest
            assured that your credit card and personal information will remain 100% private and secure.
        </p>

        <p>
            <h5>Real people, rapid service</h5>
            Our customer service agents don't actually take orders, they do offer real live customer support from our
            facility, 10 a.m. to 6 p.m.(IST), Monday - Saturday. We are also reachable during extended hours by chat
            and email to answer questions and resolve issues with your order. Of course, nobody's perfect. We may get
            quite busy at times, and we ask for a little patience. We'll do our best to take care of things promptly,
            efficiently and courteously--this is what our customers deserve!
        </p>

        <p>
            <h5>Assurance of privacy and credit card securit</h5>
            Health-Mall.in has never sold, leased or shared any customer information with other parties. Your personal
            information remains entirely confidential. For added security, our Health-Mall.in web site is hosted
            privately (not shared with any other company).
        </p>
        <p>
            <strong>
                Our success and very existence are dependent on the repeat orders and word-of-mouth recommendations of
                loyal, satisfied customers. We are confident you'll find Health-Mall.in to be your first choice for
                quality, price, reliability and convenience--on every effortless order. Try us!
            </strong>
        </p>
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>