<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>

    <!-- Site Content -->
    <div class="container my-5">
        <h3>Methods of Payment</h3>

        <div class="accordion mt-5" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Online (24x7) Website
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Order on our website 24 hours a day, 7 days a week.
                            Shop online with confidence: online payment is secured by SSL (Secure Sockets Layer) 128
                            bit encryption, considered the highest standard for information transmitted via internet.
                            Your credit card number and personal information are completely protected.</p>
                        <p>
                            Credit Card security is our top priorities at Health-Mall.in, we guarantee 100% secure
                            ordering. To protect your credit card related information, we use third party secured
                            authenticated payment gateway service.
                        </p>
                        <p>
                            Your Payment is processed from your computer to your bank for approval and the approved
                            information comes back to your computer. This process requires 6 steps for approval of a
                            transaction.
                        </p>

                        <footer class="blockquote-footer text-danger">We accept VISA, Master, Debit, Cash cards issued
                            in India
                            only.</cite></footer>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Bank Transfers(NEFT/RTGS)
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            You simply Login to your online banking facility and transfer funds to our below mentioned
                            bank account. After transfer, fill in transaction reference no. while placing order online.
                            OR you can send email <a href="mailto:sales@health-mall.in">sales@health-mall.in</a>
                            about your payment, order details and shipping address.
                            Please add Rs. 100/- towards Courier charges in your payment.
                        </p>
                        <div class="table-responsive">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">HDFC</th>
                                        <th scope="col">ICICI</th>
                                        <th scope="col">Canara</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Branch</td>
                                        <td>Jawahar Nagar, Goregaon-West Branch, Mumbai</td>
                                        <td>Bangur Nagar Branch, Mumbai</td>
                                        <td>Bangur Nagar Branch, Mumbai</td>
                                    </tr>
                                    <tr>
                                        <td>Account Number</td>
                                        <td>03222000008433</td>
                                        <td>101905500232</td>
                                        <td>1520201001701</td>
                                    </tr>
                                    <tr>
                                        <td>IFSC Code</td>
                                        <td>HDFC0000322</td>
                                        <td>ICIC0001019</td>
                                        <td>CNRB0001520</td>
                                    </tr>
                                    <tr>
                                        <td>Account Type</td>
                                        <td>Current</td>
                                        <td>Current</td>
                                        <td>Current</td>
                                    </tr>
                                    <tr>
                                        <td>Account Name</td>
                                        <td>Nutraceuticals Healthcare</td>
                                        <td>NUTRACEUTICALS INDIA</td>
                                        <td> NUTRACEUTICALS INDIA</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Cheque / DD
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Please fill in your cheque/DD details whileplacing your order. You just need to deposit
                            cheque / DD / Cash to your nearestbranch, in our bank account, and send us email
                            <a href="mailto:sales@health-mall.in">sales@health-mall.in</a> informingus about your
                            payment details, order details and Shipping
                            address. Please add Rs. 100/- towards Couriercharges in your payment.
                        </p>
                        <div class="table-responsive">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">HDFC</th>
                                        <th scope="col">ICICI</th>
                                        <th scope="col">Canara</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Branch</td>
                                        <td>Jawahar Nagar, Goregaon-West Branch, Mumbai</td>
                                        <td>Bangur Nagar Branch, Mumbai</td>
                                        <td>Bangur Nagar Branch, Mumbai</td>
                                    </tr>
                                    <tr>
                                        <td>Account Number</td>
                                        <td>03222000008433</td>
                                        <td>101905500232</td>
                                        <td>1520201001701</td>
                                    </tr>
                                    <tr>
                                        <td>IFSC Code</td>
                                        <td>HDFC0000322</td>
                                        <td>ICIC0001019</td>
                                        <td>CNRB0001520</td>
                                    </tr>
                                    <tr>
                                        <td>Account Type</td>
                                        <td>Current</td>
                                        <td>Current</td>
                                        <td>Current</td>
                                    </tr>
                                    <tr>
                                        <td>Account Name</td>
                                        <td>Nutraceuticals Healthcare</td>
                                        <td>NUTRACEUTICALS INDIA</td>
                                        <td> NUTRACEUTICALS INDIA</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour"
                            aria-expanded="false" aria-controls="collapsefour">
                            Cash on delivery (COD)
                        </button>
                    </h5>
                </div>
                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            You just need to place order by Email <a href="mailto:sales@health-mall.in">sales@health-mall.in</a>
                            along with your contact
                            details, required products and delivery address. COD Charges Rs 100/- per order will be
                            charged extra.
                        </p>
                        <footer class="blockquote-footer text-danger">We offer Cash on Deliver service (COD) within
                            Mumbai City Limit (In Western Suberb Only).</cite></footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>