<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>

    <!-- Site Content -->
    <div class="container my-5">
        <h3>Privacy Policy</h3>
        <br />
        <h5>
            Absolutely Confidential
            <small class="text-muted">The confidentiality of our customers is a top priority at Health-Mall.in. Under
                no circumstances will any of your personal information be shared, sold or given out to a third party.</small>
        </h5>
        <p><strong>What information does Health-Mall.in collect and how is it used?</strong>The following is required
            to process all orders: Delivery address, invoice address, payment information and email address (to receive
            email confirmations). We use the information you provide to respond to your requests, customize your future
            shopping experience, improve our site and functionality, and communicate with you. Again, Health-Mall.in
            will never share your personal information</p>
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>