<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>

    <!-- Site Content -->
    <div class="container my-5">
        <h3>Shipping Terms</h3>
        <p>
            <ul class="list-unstyled">
                <li>In Stock product will appear Stock near the cart</li>
                <li>In Stock products will be shipped next business day.</li>
                <li>Other Products will be Shipped in 10-15 working days time after receipt of order</li>
                <li>
                    <ul>
                        <li class="text-success">Our Past shipping record for out of stock products</li>
                        <li class="text-success">70.8 % of products shipped in 5 days</li>
                        <li class="text-success">21.3 % products shipped in 7 days</li>
                        <li class="text-success">6.7 % products shipped in 10 days</li>
                        <li class="text-success">1.2 % products shipped in 15 days</li>
                    </ul>
                </li>
                <li>All Orders are Shipped from Mumbai, India</li>
                <li>Please note Liquid Products require about 2-3 days more for shipment.</li>
                <li>We ship anywhere in India. The carrier we use to ship your order will depend on Weight and
                    Location.</li>
                <li>We ship only within Indian territory and do not export to other countries.</li>
                <li>We use following courier services for shipping & periodically track them
                    <ul>
                        <li>DTDC</li>
                        <li>Professional </li>
                        <li>We also ship goods to remote place using Speed post services</li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>