<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>

    <!-- Site Content -->
    <div class="container my-5">
        <h3>Terms & Conditions</h3>
        <br />
        <ul>
            <li>Recommendations and protocols for nutritional support are not intended as a substitute for appropriate
                medical care.</li>
            <li>The products and the claims made about specific products on or through this site have not been
                evaluated by the Food and Drug Administration and are not approved to diagnose, treat, cure orprevent
                disease</li>
            <li>If you have a medical condition or disease, please talk to your doctor prior to using the
                recommendations given.</li>
            <li>Do not self-diagnose. Proper medical care is critical to good health. If you have a health concern or
                undiagnosed sign or symptom, please consult a physician, or a health care specialist ASAP.</li>
            <li>Product Ratings by previous or current customers are not intended as a substitute for appropriate
                medical care oradvice. Please talk to your doctor prior to using the recommendations given.</li>
            <li>Make your physician aware of all the nutritional supplements or herbal products you are currently
                taking to avoid anynegative interactions with any drugs you are taking.</li>
            <li>If you are currently taking a prescription medication,  <b>you absolutely must work with your doctor</b> before
                discontinuing any drug or altering any drug regimen.</li>
            <li>By reading these terms and conditions you also confirm having read <a href="/shippingterms">Shipping
                    terms</a></li>
            <li>These statements apply to Health-mall.in website</li>
            <li>Return / Refund Policy: Unless wrong product is shipped, Goods once sold will not be accepted back
                under any circumstances.</li>
        </ul>
        <p class="font-weight-bold">Nutraceuticals Healthcare (<a href="https://www.health-mall.in">www.health-mall.in</a>) reserves the right to Reject /
            Cancel any order without
            assigning any reason. For such Cancelled Orders full payment will be refunded if paid in advance.</p>
        <p class="text-uppercase text-danger">ALL DISPUTES ARE SUBJECT TO MUMBAI COURT JURISDICTION ONLY</p>
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>