<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>

    <!-- Site Content -->
    <div class="container my-5">
        <h3>Why Shop here?</h3>
        <p>
            We at health –Mall, have handpicked each product. We don’t just offer any product, we compare between each
            brand, ingredients used, bioavailability and lastly price. We are committed to offer the best supplements
            to our customers, produced by the top manufacturers / formulators around the world. We make sure that each
            product has right potency for maximum benefits to our customers. If you wish to know USP of each product
            you may contact our customer service.
        </p>
        <p>
            We are the Authorised Distributors of Following Brands
            <ol>
                <li>Now Foods</li>
                <li>Jarrow Formulas</li>
                <li> Nordic Naturals</li>
                <li>Doctor’s Best</li>
                <li>Healthy Origins</li>
                <li>Deva Nutrition</li>
                <li>Source Naturals</li>
            </ol>
            If you have difficulty in choosing product, you may contact us by email to <a href="mailto:rajesh@health-mall.in">rajesh@health-mall.in</a> Our Nutra
            Expert will help you to choose the right product.
        </p>
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>