<!doctype html>
<html lang="en">

<head>
    <% include ./head %>

    <title>Health Mall-Shopping Cart</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ./header %>

    <!-- Content -->
    <div class="container p-3">

        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header bg-success" id="headingOne">
                    <h5 class="mb-0">
                        <button id="btnCollapseOne" class="btn btn-link text-white" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4>1.Shopping Cart</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">

                        <% pageData.scp.forEach(function(product){ %>
                        <%- 

                        `<div class="row m-1">
                            <div class="col-md-1">
                                <img class="productThumbnail" src="../static/resources/images/${product.image}" style="max-width:50px;max-height:70px"
                                    alt="Product Image">
                            </div>
                            <div class="col-md-6">
                                <strong>${product.name}</strong>
                            </div>
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li>Price:<b>&#8377;${product.price}</b></li>
                                    <li>Quantity:<b id="s">${product.quantity}</b></li>
                                    <li>Discount:<b>&#8377;0</b></li>
                                    <li><b>Total:&#8377;${product.price * product.quantity}</b></li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group my-3">
                                    <form method="POST" action="/cart/items" id="add" >
                                        <input type="hidden" name="operator" value="add" />
                                        <input type="hidden" name="productId" value="${product.id}" />
                                        <button type="submit" class="btn btn-success"><i class="fas fa-plus-square"></i></button>
                                    </form>
                                    <form method="POST" action="/cart/items" id="rem" >
                                        <input type="hidden" name="operator" value="rem" />
                                        <input type="hidden" name="productId" value="${product.id}" />
                                        <button type="submit" class="btn btn-success"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                    <form method="POST" action="/cart/items" id="sub">
                                        <input type="hidden" name="operator" value="sub" />
                                        <input type="hidden" name="productId" value="${product.id}" />
                                        <button type="submit" class="btn btn-success"><i class="fas fa-minus-square"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>`

                        %>
                        <% }); %>

                        <!-- Final Footer -->
                        <div class="d-flex flex-row-reverse">
                            <form id="cartForm" method="POST" action="/cart" class="form-inline">
                                <input type="hidden" name="state" value="1" />
                                <h3 class="mx-1 my-1"><small class="text-mute">Total</small> &#8377;
                                    <%= pageData.scp.reduce((acc,ele) => acc+(ele.price*ele.quantity),0) %>
                                </h3>
                                <button type="submit" class="btn btn-primary" <%=pageData.cartItems <=0?'disabled':'' %>>Place
                                    Order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header bg-success" id="headingTwo">
                    <h5 class="mb-0">
                        <button id="btnCollapseTwo" class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4>2.Shipping Details</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                        heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header bg-success" id="headingThree">
                    <h5 class="mb-0">
                        <button id="btnCollapseThree" class="btn btn-link collapsed text-white" type="button"
                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4>3.Payment Details</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                        heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

        </div>
        <input id="state" type="hidden" name="operator" value="<%- pageData.state %>" />
    </div>

    <!-- Footer -->
    <% include ./footer %>
    <script>
        let state = $("#state").val();

        if (state === "1") {
            $('#btnCollapseOne').prop('disabled', false);
            $('#btnCollapseTwo').prop('disabled', false);
            $('#btnCollapseThree').prop('disabled', true);
            $('#btnCollapseTwo').click();
        }

        else if (state === "2") {
            $('#btnCollapseOne').prop('disabled', false);
            $('#btnCollapseTwo').prop('disabled', false);
            $('#btnCollapseThree').prop('disabled', false);
            $('#btnCollapseThree').click();
        }

        else {
            $('#btnCollapseOne').prop('disabled', false);
            $('#btnCollapseTwo').prop('disabled', true);
            $('#btnCollapseThree').prop('disabled', true);
            $('#btnCollapseOne').click();
        }
    </script>

</body>

</html>