<!doctype html>
<html lang="en">

<head>
    <% include ./head %>

    <title>Health Mall-Error</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ./header %>

    <!-- Content -->
<!-- TODO:Not Mobile Friendly -->
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">OOPS!!</h1>
            <p class="lead">Application encountered an unknown error.</p>
            <hr class="my-4">
            <p>This is what we think happened:</p>
            <small>
                <ul>
                    <% pageData.exception.forEach(function(err){ %>
                    <%- '<li>'+err.message+'<br/>'+ err.stack+'</li>' %>
                    <% }); %>
                </ul>
            </small>
        </div>
    </div>

    <!-- Footer -->
    <% include ./footer %>
</body>

</html>