<!-- Footer -->
<footer class="page-footer font-small text-white bg-success mt-3 pt-4">
    <div class="container text-center text-md-left">
        <div class="row">

            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Health Links</h5>
                <ul class="list-unstyled">
                    <% footerLinks.forEach(function(link){ %>
                    <%-  ` <li><a class="text-white" href="${link.link}">${link.name}</a></li>` -%>
                    <% }); %>

                </ul>
            </div>
            
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Info</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="/howtoorder">How to place order</a>
                    </li>
                    <li>
                        <a class="text-white" href="/whyshophere">Why shop here</a>
                    </li>
                    <li>
                        <a class="text-white" href="/requestaproduct">Request a product</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pay by</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="/howtoorder">
                            Credit Card
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="/howtoorder">
                            Cheque/DD
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="/howtoorder">
                            Net Banking
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Shipping</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="/shippingterms">Shipping Terms</a>
                    </li>
                    <li>
                        <a class="text-white" href="/privacypolicy">Privacy Policy</a>
                    </li>
                    <li>
                        <a class="text-white" href="/terms">Terms & Conditions</a>
                    </li>
                    <li>
                        <a class="text-white" href="/terms">Disclaimer</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mx-auto">
                <h2 class="font-weight-bold text-uppercase mt-3 mb-4">
                    <i class="fas fa-briefcase-medical"></i> HEALTH MALL</h2>
                <ul class="list-unstyled">
                    <li>Payment Options </li>
                    <li><img alt="Payment option" src="/static/resources/images/payment_option.png"></li>
                    <li>Logistics Partner </li>
                    <li><img alt="logistics" src="/static/resources/images/logistics.png"></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
                <i class="fab fa-google-plus"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
                <i class="fab fa-linkedin"> </i>
            </a>
        </li>
    </ul>

    <div class="footer-copyright text-center pb-3">Designed and Developed by:
        <a class="text-white" href="https://lragji.github.io/">Laukik</a>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>