<div class="container-fluid p-3" style="background-color: #474e5d;color: #ffffff;">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm">
            <ul class="list-unstyled">
                <li>FAQs </li>
                <li>How to Place Order? </li>
                <li>Request a Product </li>
                <li>Why Shop Here? </li>
                <li>Health News </li>
                <li>Health Videos </li>
                <li>Health Treasure </li>
                <li>Health Library </li>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="list-unstyled">
                <li>Payment Options </li>
                <li>Shipping Terms </li>
                <li>Privacy Policy</li>
                <li>Terms & Conditions</li>
                <li>Disclaimer </li>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="list-unstyled">
                <li>Pay By </li>
                <li>Credit / Debit Card </li>
                <li>Internet Banking </li>
                <li>Cheque / DD </li>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="list-unstyled">
                <li>Payment Options </li>
                <li><img alt="Payment option" src="/static/resources/images/payment_option.png"></li>
                <li>Logistics Partner </li>
                <li><img alt="logistics" src="/static/resources/images/logistics.png"></li>
            </ul>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col text-center">
            <small>
                * Disclaimer: Statements made, or products sold through this web site, have not been evaluated by the
                Food
                and Drug Administration.They are not intended to diagnose, treat, cure, or prevent any disease.</small>
        </div>
    </div>
</div>

<div class="container-fluid p-3" style="background-color: black;color: #ffffff;">
        <div class="row">
                <div class="col text-center">
                        <small>DESIGNED AND DEVELOPED BY <a target="_blank" href="https://lragji.github.io/">LAUKIK</a></small>
                    </div>
        </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>