<!doctype html>
<html lang="en">

<head>
    <% include ./head %>

    <title>Health Mall-Health Library</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ./header %>

    <!-- Site Content -->
    <div class="container mt-5">
        <h1>Health Library:</h1>
        <div class="d-flex justify-content-center justify-content-md-around flex-wrap">
            <% Object.keys(pageData.hli).sort().forEach(function(key){ %>
            <%- `
                <div class="card myshadow m-2" style="width:18rem" >
                        <div class="card-header text-center">
                            <span class="display-1 text-uppercase text-muted" ><b> ${key}</b></span>
                        </div>
                <div class="card-body">
                        <ul class="ml-0 pl-3" >`+   
                                pageData.hli[key].map((link)=>`<li><a href="${link.url}">${link.name}</a></li>`).join('') 
                    + `</ul>
                </div>
            </div>`-%>
            <% }); %>
        </div>
    </div>
    <!-- Footer -->
    <% include ./footer %>
</body>

</html>