<!doctype html>
<html lang="en">

<head>
    <% include ./head %>

    <title>Health Mall- <%-pageData.flv.name -%></title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ./header %>

    <!-- Site Content -->
    <div class="container">
        <h1>
            <%-pageData.flv.name -%>
        </h1>
        <%-pageData.flv.contents -%>
    </div>

    <!-- Footer -->
    <% include ./footer %>
</body>

</html>