<!doctype html>
<html lang="en">

<head>
    <% include ./head %>

    <title>Health Mall-Videos</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ./header %>

    <!-- Site Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md p-md-0">
                <div id="resultContainer" class="d-flex justify-content-center justify-content-md-around flex-wrap">

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include ./footer %>
</body>

</html>