<!doctype html>
<html lang="en">

<head>
    <% include ./head %>

    <title>Health Mall-Search</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ./header %>

    <!-- Site Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <Strong>
                    <%-pageData.st-%>
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 p-md-0 d-none d-lg-block">
                <!-- Sort -->
                <div class="card myshadow mt-2 w-100">
                    <div class="card-header">SORT</div>
                    <div class="card-body">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="sortBtn"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Sort
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" onclick="$('#sortBtn').text('Price:High to Low');sort(1)"
                                    href="#">Price:High
                                    to Low</a>
                                <a class="dropdown-item" onclick="$('#sortBtn').text('Price:Low to High');sort(2)"
                                    href="#">Price:Low
                                    to High</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" onclick="$('#sortBtn').text('Name:A to Z');sort(3)"
                                    href="#">Name:A
                                    to Z</a>
                                <a class="dropdown-item" onclick="$('#sortBtn').text('Name:Z to A');sort(4)"
                                    href="#">Name:Z
                                    to A</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Categories -->
                <div class="card myshadow mt-2 w-100">
                    <div class="card-header">CATEGORIES</div>
                    <div class="card-body">
                        <ul class="list-unstyled" id="lstCatagories">
                        </ul>
                    </div>
                </div>

                <!-- Brands -->
                <div class="card myshadow mt-2 w-100">
                    <div class="card-header">BRANDS</div>
                    <div class="card-body">
                        <ul class="list-unstyled" id="lstBrands">
                        </ul>
                    </div>
                </div>

                <!-- HealthTopics -->
                <div class="card myshadow mt-2 w-100">
                    <div class="card-header">Health Topics</div>
                    <div class="card-body">
                        <ul class="list-unstyled" id="lstHealthtopics">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md p-md-0">
                <div id="resultContainer" class="d-flex justify-content-center justify-content-md-around flex-wrap">

                </div>

                <div id="loadingSpinner" class="my-2">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span id="loadingMessage">Loading Users</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include ./footer %>
    <script src="../../static/resources/scripts/paginatedtemplates.js"></script>
    <script>
        var shoppingBadge = $('#shoppingCart');
        let filter =<%- pageData.sf -%>;

        function addProductToSession(productId, quantity) {
            $.post("/v1/cart/products", { productId: productId, quantity: quantity }).always((responseData) => {
                if (responseData !== undefined && responseData.TotalProducts !== undefined && parseInt(responseData.TotalProducts)) {
                    showSucess("Product added to your shopping cart.")
                    shoppingBadge.text(parseInt(responseData.TotalProducts));
                }
                else {
                    showFailure("Failed to add product to cart.");
                }
            });
        }

        function productTemplate(product) {
            return `<div class="card m-2 myshadow myproductcard">
            <a href="/product?pid=${product.id}" >
            <center>
                <img class="productThumbnail" src="../static/resources/images/products/${product.image}" style="max-width:150px;max-height:170px" alt="Product Image">
            </center>
            </a>
            <div class="card-body bg-light">
           <strong>${product.name}</strong>
                <div class="d-flex justify-content-center align-items-center my-2">
                <h3 class="text-success">
                &#8377;${product.offerprice}
                <small><small class="text-muted"><del>&#8377;${product.price}</del></small></small>
                </h3>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                <small>Ships in ${product.meta.shippingdetail} day(s)</small>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                <button onClick=addProductToSession(${product.id},1) class="btn btn-success my-2 mr-0" type="submit"><i class="fas fa-cart-plus"></i>
                        Add to cart</button>
                </div>
            </div>
        </div>`;
        }

        function setStatus(pageNo, status) {
            if (status === 3) {
                $("#loadingMessage").text("Failed to load page" + pageNo + ", Please refresh the page and try again.");
            }
            if (status === 2) {
                $("#loadingMessage").text("Loading completed");
                $("#loadingSpinner").hide();
            }
            if (status === 1 || status === 0) {
                $("#loadingMessage").text("Loading more products from page " + pageNo);
            }
        }

    </script>
    <script type="module">
        import { filterBuilder } from "../../static/resources/scripts/filterbuilder.mjs"
        let fb = new filterBuilder();

        window.sort = function sort(index) {
            filter = fb.removeSortByConditionFor(filter, "price", true, 0);
            filter = fb.removeSortByConditionFor(filter, "price", false, 0);
            filter = fb.removeSortByConditionFor(filter, "name", false, 0);
            filter = fb.removeSortByConditionFor(filter, "name", true, 0);
            switch (index) {
                case 1://1=Price High to low  
                    filter = fb.sortByConditionFor(filter, "price", false, 0);
                    break;
                case 2://2=Price Low to high
                    filter = fb.sortByConditionFor(filter, "price", true, 0);
                    break;
                case 3://3=Name Asc
                    filter = fb.sortByConditionFor(filter, "name", true, 0);
                    break;
                case 4://4=Name Desc
                    filter = fb.sortByConditionFor(filter, "name", false, 0);
                    break;
            }
            searchProducts(filter);
        }

        window.filterByCategory = function filterByCategory(value, element) {
            if (element.checked === true) {
                fb.addOperatorConditionFor(filter, "containsArr", "categories", value[0]);
            }
            else {
                fb.removeOperatorConditionFor(filter, "containsArr", "categories", value[0]);
            }
            searchProducts(filter);
        }

        window.filterByHealthTopic = function filterByHealthTopic(value, element) {
            if (element.checked === true) {
                fb.addOperatorConditionFor(filter, "containsArr", "healthtopics", value[0]);
            }
            else {
                fb.removeOperatorConditionFor(filter, "containsArr", "healthtopics", value[0]);
            }
            searchProducts(filter);
        }

        window.filterByBrand = function filterByBrand(value, element) {
            if (element.checked === true) {
                fb.addOperatorConditionFor(filter, "equal", "brand", value);
            }
            searchProducts(filter);
        }
    </script>
    <script>
        function searchProducts(filter) {
            breakupPagination();
            $('#resultContainer').empty();
            hookUpPagination("/v1/products/search", productTemplate, "resultContainer", setStatus, "loadingSpinner", 0, 10, filter);
            $("#loadingMessage").text("Searching Products");
            $("#loadingSpinner").show();
        }
    </script>
    <script>
        let _activeSummaryCall = undefined;

        function getSummary(filter) {
            $("#lstCatagories").empty();
            $("#lstBrands").empty();
            $("#lstHealthtopics").empty();
            _activeSummaryCall = $.post('/v1/products/search/summary', filter, undefined, "json");
            _activeSummaryCall.always(handleSummary)
        }

        function handleSummary(data, textStatus, xhrObj) {
            _activeSummaryCall = undefined;
            if (xhrObj.status === 200) {
                //Success
                data.categories.forEach(category => {
                    $("#lstCatagories").append(`<li>
                                <div class="custom-control custom-checkbox">
                                <input id="cat${category.id}" type="checkbox" onchange="filterByCategory([${category.id}],this)" class="custom-control-input">
                                <label for="cat${category.id}" class="custom-control-label">${category.name}</label>
                                </div>
                                </li>`);
                });
                data.brands.forEach(brand => {
                    $("#lstBrands").append(`<li>
                                <div class="custom-control custom-radio">
                                <input id="br${brand.id}" type="radio" name="brand" onchange="filterByBrand(${brand.id},this)" class="custom-control-input">
                                <label for="br${brand.id}" class="custom-control-label">${brand.name}</label>
                                </div>
                                </li>`);
                });
                data.healthTopics.forEach(ht => {
                    $("#lstHealthtopics").append(`<li>
                                <div class="custom-control custom-checkbox">
                                <input id="ht${ht.id}" type="checkbox" onchange="filterByHealthTopic([${ht.id}],this)" class="custom-control-input">
                                <label for="ht${ht.id}" class="custom-control-label">${ht.name}</label>
                                </div>
                                </li>`);
                });
            }
        }

        function cancelActiveNetworkCallForSummary() {
            if (_activeSummaryCall !== undefined) _activeSummaryCall.abort();
        }



        function refreshLeftPane(filter) {
            cancelActiveNetworkCallForSummary();
            getSummary(filter);
        }
    </script>
    <script>
        searchProducts(filter);
        refreshLeftPane(filter);
    </script>
</body>

</html>