<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
        aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav mx-auto">
            <% menuData.forEach((category)=>{ %>
                <% if (category.subCategories.length>0) { %>
                    <%- ` <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">${category.name}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    ${category.subCategories.map((subCategory)=>`<form class="dropdown-item" action="/search" method="POST"><input type="hidden" name="cat" value="${category.id}"><input type="hidden" name="subcat" value="${subCategory.id}"> <button type="Submit" class="btn btn-link pl-0">${subCategory.name}</button></form>`).join("")}
                    </div>
                    </li>`%>
                <% } else { %>
                    <%-`<form class="nav-item" action="/search" method="POST"><input type="hidden" name="cat" value="${category.id}"> <button type="Submit" class="btn btn-link pl-0">${category.name}</button></form>`%>
                <% } %>
            <% }) %>
        </ul>
    </div>
</nav>